@(messages: List[FlashMessage])(implicit session: play.api.mvc.Session)

@main("Leaps!", app = Some("index")) {
<div ng-controller="MainCtrl">
@* Print the flash messages that were sent by the registration, etc. *@
@for(message <- messages) {
	<div class="alert alert-@message.msgClass fade in" role="alert">
		<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
		@message.msg
	</div>
}

<div class="panel panel-warning">

	<div class="panel-body">

		<ul class="nav nav-pills nav-justified">

			<li class="dropdown">

			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			    Instrument&nbsp;<span class="caret"></span>
			  </a>

			  <ul class="dropdown-menu scrollable-menu" role="menu" ng-if="instrumentsTitles">
			    <li class="dropdown-header">My Instruments</li>
			    <li ng-repeat="elem in instruments | userDefined">
			      <a href="#" ng-click="instrumentSelected(elem)">{{elem.name}}</a>
			    </li>
			    <li class="dropdown-header">Default Instruments</li>
			    <li ng-repeat="elem in instruments | userDefined:false">
			      <a href=# ng-click="instrumentSelected(elem)">{{elem.name}}</a>
			    </li>
			  </ul>

			  <ul class="dropdown-menu scrollable-menu" role="menu" ng-if="!instrumentsTitles">
			    <li ng-repeat="elem in instruments">
			      <a href="#" ng-click="instrumentSelected(elem)">{{elem.name}}</a>
			    </li>
			  </ul>

			</li>

			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Tuning &nbsp;<span class="caret"></span>
				</a>

				<ul class="dropdown-menu scrollable-menu" role="menu" ng-if="tuningsTitles">
			    <li class="dropdown-header">My Tunings</li>
			    <li ng-repeat="elem in tunings | userDefined">
			      <a href="#" ng-click="tuningSelected(elem)">{{elem.name}}</a>
			    </li>
			    <li class="dropdown-header">Default Tunings</li>
			    <li ng-repeat="elem in tunings | userDefined:false">
			      <a href=# ng-click="tuningSelected(elem)">{{elem.name}}</a>
			    </li>
			  </ul>

			  <ul class="dropdown-menu scrollable-menu" role="menu" ng-if="!tuningsTitles">
			    <li ng-repeat="elem in tunings">
			      <a href="#" ng-click="tuningSelected(elem)">{{elem.name}}</a>
			    </li>
			  </ul>

			</li>

			<li class="dropdown">
				<a id="scale-button" href="#" class="dropdown-toggle" data-toggle="dropdown">
					Scale &nbsp;<span class="caret"></span>
				</a>

				<ul class="dropdown-menu scrollable-menu" role="menu" ng-if="scalesTitles">
			    <li class="dropdown-header">My Scales</li>
			    <li ng-repeat="elem in scales | userDefined">
			      <a href="#" ng-click="scaleSelected(elem)">{{elem.name}}</a>
			    </li>
			    <li class="dropdown-header">Default Scales</li>
			    <li ng-repeat="elem in scales | userDefined:false">
			      <a href="#" ng-click="scaleSelected(elem)">{{elem.name}}</a>
			    </li>
			  </ul>

			  <ul class="dropdown-menu scrollable-menu" role="menu" ng-if="!scalesTitles">
			    <li ng-repeat="elem in scales">
			      <a href="#" ng-click="scaleSelected(elem)">{{elem.name}}</a>
			    </li>
			  </ul>

			</li>

			<li class="dropdown">
				<a id="root-button" href="#" class="dropdown-toggle" data-toggle="dropdown">
					Root &nbsp;<span class="caret"></span>
				</a>
				<ul class="dropdown-menu scrollable-menu" role="menu">
					<li ng-repeat="root in roots">
						<a href="" ng-click="rootSelected($index + 1)">{{root}}</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<div class="jumbotron">
	<!--[if lt IE 9]>
		<script src='@routes.Assets.versioned("polyfills/flashcanvas/flashcanvas.js")'></script>
	<![endif]-->

	<!-- displays the note that you're hovered on -->
	<p ng-show="!noteHovered">&nbsp;</p>

	<p ng-show="noteHovered">note : {{noteHovered.interval.notation}} {{noteHovered.interval.index}}</p>

	<!-- This is the fingerboard itself.  -->
	<canvas id="fingerboard"></canvas>
	<script src="@controllers.Javascripts.lib.angular"></script>
	<script src='@routes.Assets.versioned("javascripts/fingerboard.js")'></script>
	<script src='@routes.Javascripts.router'></script>
	<script>
	CONST = {
		intervals: @Html(models.Scale.jsIntervals)
	}
	</script>
	<script src='@routes.Assets.versioned("javascripts/index.js")'></script>

</div>
</div>
}
