@(instruments: Stream[Instrument], tunings: play.api.libs.json.JsValue)(implicit session: play.api.mvc.Session)

@main("Instruments Editor") {

	
	<div id="input-container">
		<button class="btn btn-sm btn-success" id="inst-add-btn">Add</button>
	</div>
	
	<br/>
	
	<div class="hidden">
		<canvas class="col-sm-10 pull-right" id="tuning-view"></canvas>
	</div>
	
	<table class="table">
		<thead>
			<th>Name</th>
			<th>Strings</th>
			<th>Edit</th>
		</thead>
		<tbody>
			@for(instrument <- instruments) {
				<tr data-id="@instrument.id">
					<td>@instrument.name</td>
					<td>@instrument.strings</td>
					<td>
						@if(instrument.user.isDefined){
							<button class="btn btn-default btn-sm mod-instrument">Modify</button>
						} else {
							<button class="btn btn-default btn-sm disabled mod-instrument">Modify</button>
						}
						<button class="btn btn-sm btn-default">Tunings</button>
					</td>
				</tr>
			}
		</tbody>
	</table>

	<!-- Templates -->
	
	<script id="instrument-input-template" type="text/x-handlebars-template">
		<div class="form-group">
			<label id="name-header">Name</label>
			<input type="text" id="input-name" class="form-control" value={{name}} >
		</div>
		<div class="form-group">
			<label id="strings-header">Number of strings</label>
			<input type="text" id="input-strings" class="form-control" value={{strings}} >
		</div>
		<input type="hidden" value={{id}} id="input-id" />
		<div>
			<button class="btn btn-sm btn-default" id="instrument-ok">Ok</button>
			<button class="btn btn-sm btn-default" id="instrument-cancel">Cancel</button>
		</div>
	</script>
	
	<script id="tuning-input-template" type="text/x-handlebars-template">
		<div class="form-group">
			<label>Name</label>
			<input type="text" id="input-tuning-name" class="form-control">
		</div>
		
		<div class="form-group">
			<label>Values</label>
		</div>
		
		<div id="tuning-values-loc">
			<ul id="tuning-dropdown-loc" class="list-group col-sm-2">
			</ul>
		</div>
		
		<div class="col-sm-12" style="padding: 0px;">
			
			<button class="btn btn-default btn-sm" id="input-tuning-ok">Ok</button>
			<button class="btn btn-default btn-sm" id="input-tuning-cancel">Cancel</button>
			
		</div>
		
	</script>
	
	
	<script id="tuning-values-template" type="text/x-handlebars-template">
		<li class="list-group-item tuning-dropdown-group" data-i={{i}} data-note="0" data-index="0">
				
			<div class="input-group-btn">
				<button class="btn btn-sm btn-default" data-toggle="dropdown">
					Note <span class="caret"></span>
				</button>
				<ul class="dropdown-menu tuning-note-input">
					{{#each notes}}
						<li><a href="#">{{this}}</a></li>
					{{/each}}
				</ul>
			</div>
			
			<div class="input-group-btn">
				<button class="btn btn-sm btn-default" data-toggle="dropdown">
					Index <span class="caret"></span>
				</button>
				<ul class="dropdown-menu tuning-index-input">
					{{#each indexes}}
					<li><a href="#">{{this}}</a></li>
					{{/each}}
				</ul>
			</div>
		</li>
	</script>
	
	<!--<script id="tuning-input-template" type="text/x-handlebars-template">
		<div class="form-group">
			<label>Name</label>
			<input type="text" ip="input-name" class="form-control" value={{name}}>
		</div>
		<div class="form-group">
			<label>Values</label>
			{{{values}}}
		</div>
	</script>-->
	
	<!-- Non-Global Javascript -->
	
	<script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js'></script>
	<script src='@routes.Javascripts.at("fingerboard")'></script>
	<script src='@routes.Javascripts.router'></script>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
	
	<script>
	var tunings = @Html(tunings.toString),
		CONST = {
			instrument: /@Html(Instrument.nameConstraint.toString)/g,
			tuning: /@Html(Tuning.nameConstraint.toString)/g
		}
	</script>
	
	<script src='@routes.Javascripts.at("instrumentEditor")'></script>
	
}
