@(formMapper: Form[Registratee])(implicit session: play.api.mvc.Session) 
@import helper.twitterBootstrap._

@main("Registration") {
  @for(err <- formMapper.globalErrors) {
    <div class="alert alert-error fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      @err.message
    </div>
  }
	@helper.form(action = routes.AppForms.addUser) {
		@helper.inputText(formMapper("User name"))
		@helper.inputPassword(formMapper("Password"))
		@helper.inputPassword(formMapper("Password Confirmation")) 
		@helper.inputText(formMapper("Email"))
		<input type="submit" class="btn btn-info" value="Register!"/>
	}
}