@(scales: Traversable[Scale])(implicit session: play.api.mvc.Session)
@import models.Scale.intervals
@import play.api.Play.current
@import play.api.Play

@main("My Scales", app = Some("scaleEditor")) {
	<div ng-controller="ScaleCtrl">
	<style>
	.scrollblock-left {
		/* Show the scrollbar only if you have to */
		overflow-x: auto;
		/* Dont show the vertical scrollbar */
		overflow-y: hidden;
		height: 70px;
		/* so that it doesn't auto-break the line
			 when it reaches max width */
		white-space: nowrap;
	}
	.scrollblock-element {
		width: 100px;
		/* So that each div doesn't break the line */
		display: inline-block;
		margin-right: 7px;
	}
	</style>

	<h4>
		Name
		<small class="text-danger bad-input" ng-show="errorName">
			&nbsp;&nbsp;&nbsp;{{errorName}}
		</small>
	</h3>

	<div class="form-group">
		<input class="form-control" type="text" ng-model="scaleName"/>
	</div>

	<h4>
		Scale Values
		<small class="text-danger bad-input" ng-show="errorValues">
			&nbsp;&nbsp;&nbsp;{{errorValues}}
		</small>
	</h3>

	<div class="scrollblock-left" id="scale-value-editor">
		<div class="scrollblock-element"
				ng-repeat="selectedI in selectedIntervals track by $index">

			<select ng-model="selectedI"  class="form-control"
					ng-options="interval.name for interval in intervals track by interval.id"
					ng-click="memberSelected(selectedI, $index)">
			</select>

		</div>
	</div>

	<br/>
	<div class="input-group">
		<button class="btn btn-success btn-sm" ng-show="mode == 'add'"
				ng-click="addClicked()">
			Add
		</button>
		<button class="btn btn-default btn-sm" ng-show="mode == 'update'"
				ng-click="resetForm()">
			Cancel
		</button>&nbsp;
		<button class="btn btn-default btn-sm" ng-show="mode == 'update'"
				ng-click="updateClicked()">
			Update
		</button>
	</div>

	<br/>

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Values</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="scale in scales">
				<td>{{scale.name}}</td>
				<td>{{scale.values | interval}}</td>
				<td>
					<button class="btn btn-default btn-sm"
							ng-click="modifyScale(scale)">Modify</button>
					<button class="btn btn-default btn-sm"
							ng-click="deleteScale(scale.id)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
	</div> <!-- End Controller -->


	<!-- Non-Global Javascript -->

	@if(Play.isProd){
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
	} else {
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
	}
	<script src="@controllers.Javascripts.lib.angular"></script>

	<script src="@routes.Javascripts.router"></script>
	<script>
		var CONST = {
			valuesConstraint: /@models.Scale.valuesConstraint.toString()/g,
			nameConstraint: /@models.Scale.nameConstraint.toString()/g,
			intervals: @Html(models.Scale.jsIntervals)
		}
	</script>
	<script src="@routes.Assets.versioned("javascripts/scaleEditor.js")"></script>

}
