@(scales: Stream[Scale])(implicit session: play.api.mvc.Session)
@import models.Scale.intervals

@main("My Scales") {
	
	<style>
	.scrollblock-left {
		/* Show the scrollbar only if you have to */
		overflow-x: auto;
		/* Dont show the vertical scrollbar */
		overflow-y: hidden;
		height: 70px;
		/* so that it doesn't auto-break the line 
			 when it reaches max width */
		white-space: nowrap;
	}
	.scrollblock-element {
		width: 100px;
		/* So that each div doesn't break the line */
		display: inline-block;
		
	}
	</style>
	
	<h4 id="name-header">Name</h3>
	
	<div class="form-group">
		<input class="form-control" type="text" id="scale-name-editor"/>
	</div>
	
	<h4 id="values-header">Scale Values</h3>
	
	<div class="scrollblock-left" id="scale-value-editor">
	
		<div class="scrollblock-element">
			<select class="form-control">
				<option></option>
				@for(i <- 1 to 12) {
					<option value="@i">@intervals(""+ i)</option>
				}
			</select>
		</div>
		
	</div>
	
	<br/>
	<div class="input-group">
		<button class="btn btn-success btn-sm" id="btn-add">Add</button>
		<button class="btn btn-default btn-sm hide" id="btn-cancel">Cancel</button>&nbsp;
		<button class="btn btn-default btn-sm hide" id="btn-update">Update</button>
	</div>
	
	<br/>
	
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Values</th>
				<th></th>
			</tr>	
		</thead>
		
		<tbody id="scales-list">
			@scales.map { scale =>
				<tr data-values="@scale.values" data-id="@scale.id">
					<td>@scale.name</td>
					@* Convert to human readable notation, since I'm using integer 
					 * notation to do computations on the data in javascript *@
					<td>
						@scale.values.split(",").map { v => @intervals(v) }.mkString(" - ")
					</td>
					<td>
						<button class="btn btn-default btn-sm row-modify">Modify</button>
						<button class="btn btn-default btn-sm row-delete">Delete</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
	
	<!-- Templates -->
	
	<script id="row-template" type="text/x-handlebars-template">
	
	<tr data-id={{id}} data-values={{values}}>
		<td>{{name}}</td>
		<td>{{prettyValues}}</td>
		<td>
			<button class="btn btn-default btn-sm row-modify">Modify</button>
			<button class="btn btn-default btn-sm row-delete">Delete</button>
		</td>
	</tr>

	</script>
	
	<script id="values-input-template" type="text/x-handlebars-template">
	
	<div class="scrollblock-element">
		<select class="form-control">
			<option></option>
			
			{{#each this.options}}
			
			{{#if selected}}
			<option value={{key}} selected>{{value}}</option>
			{{else}}
			<option value={{key}}>{{value}}</option>
			{{/if}}
			
			{{/each}}

		</select>
	</div>
	
	</script>
	
	<!-- Non-Global Javascript -->
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
	
	<script src="@routes.Javascripts.router"></script>
	<script>
		var CONST = {
			valuesConstraint: /@models.Scale.valuesConstraint.toString()/g,
			nameConstraint: /@models.Scale.nameConstraint.toString()/g,
			intervals: @Html(models.Scale.jsIntervals)
		}
	</script>
	<script src="@routes.Javascripts.at("javascripts/scaleEditor.min.js")"></script>
	
}












